  .header {
      width: 100%;
      height: 150px;
      background-color: rgb(50, 73, 29);
      text-align: center;
  }

  h1 {
      font-family: 'Philosopher', sans-serif;
      padding-top: 50px;
      font-size: 25px;
      color: white;
  }


  .message-box {
    border: 1px solid black;
  }

  .win-message {
    color: green
  }

  .lose-message {
    color: red
  }

  .info-message {
    color: orange
  }